<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Bibibili大数据分析</title>
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"/>

    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/jquery.fullPage.js"></script>
    <script src="../static/js/index.js"></script>
    <!-- <script src="js/data.js"></script> -->
    <script src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>


    <script src="../static/ajax/mianPageAjax.js"></script>
    <script src="../static/js/echarts-wordcloud/dist/echarts-wordcloud.min.js"></script>
    <script src="../static/ajax/secondPageAjax.js"></script>
    <script src="../static/ajax/thirdPageAjax.js"></script>

    <script src="../static/ajax/fifthPageS1.js"></script>
    <script src="../static/ajax/fifthPageS2.js"></script>
    <script src="../static/ajax/fifthPageS3.js"></script>

    <script src="../static/js/4.js"></script>
    <script src="../static/js/5.js"></script>
    <script src="../static/js/6.js"></script>
    <script src="../static/js/7.js"></script>
    <script src="../static/js/8.js"></script>
    <script src="../static/js/9.js"></script>
    <script src="../static/js/10.js"></script>
    <script src="../static/js/11.js"></script>
    <script src="../static/js/12.js"></script>
    <script src="../static/js/13.js"></script>
    <script src="../static/js/14.js"></script>
    <script src="../static/js/15.js"></script>


    <style type="text/css">
        .section {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section1 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section2 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section3 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section4 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section5 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section6 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section7 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section8 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section9 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section10 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section11 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section12 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section13 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .section14 {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        .slide {
            background: url(../static/images/p/p1.jpg) center;
            background-repeat: no-repeat;
        }

        /*		.section2 {background: url(images/p3_1.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section3 {background: url(images/p3_2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section4 {background: url(images/p3.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section5 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section6 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section7 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section8 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section9 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section10 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section11 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section12 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section13 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section14 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section15 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}
                .section16 {background: url(images/p2.png) 50%;background-size: 100%;background-repeat:no-repeat;}*/
    </style>
</head>

<body style="overflow-y: hidden">

<ul id="menu">
    <li data-menuanchor="page1" class="active">
        <a href="#page1">
            <div class="icon-wrap">
                <img src="../static/images/icons.png" class="icon1 picture">
            </div>
            <div class="nav-name">首页</div>
        </a>
    </li>
    <li data-menuanchor="page2">
        <a href="#page2">
            <div class="icon-wrap">
                <img src="../static/images/icons.png" class="icon2 picture">
            </div>
            <div class="nav-name">动画</div>
        </a>
    </li>
    <li data-menuanchor="page3"><a href="#page3">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon3 picture"></div>
        <div class="nav-name">番剧</div>
    </a></li>
    <li data-menuanchor="page4"><a href="#page4">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon4 picture"></div>
        <div class="nav-name">国创</div>
    </a></li>
    <li data-menuanchor="page5"><a href="#page5">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon5 picture"></div>
        <div class="nav-name">音乐</div>
    </a></li>
    <li data-menuanchor="page6"><a href="#page6">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon6 picture"></div>
        <div class="nav-name">舞蹈</div>
    </a></li>
    <li data-menuanchor="page7"><a href="#page7">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon7 picture"></div>
        <div class="nav-name">游戏</div>
    </a></li>
    <li data-menuanchor="page8"><a href="#page8">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon8 picture"></div>
        <div class="nav-name">科技</div>
    </a></li>
    <li data-menuanchor="page9"><a href="#page9">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon9 picture"></div>
        <div class="nav-name">数码</div>
    </a></li>
    <li data-menuanchor="page10"><a href="#page10">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon10 picture"></div>
        <div class="nav-name">生活</div>
    </a></li>
    <li data-menuanchor="page11"><a href="#page11">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon11 picture"></div>
        <div class="nav-name">鬼畜</div>
    </a></li>
    <li data-menuanchor="page12"><a href="#page12">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon12 picture"></div>
        <div class="nav-name">时尚</div>
    </a></li>
    <li data-menuanchor="page13"><a href="#page13">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon13 picture"></div>
        <div class="nav-name">广告</div>
    </a></li>
    <li data-menuanchor="page14"><a href="#page14">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon14 picture"></div>
        <div class="nav-name">娱乐</div>
    </a></li>
    <li data-menuanchor="page15"><a href="#page15">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon15 picture"></div>
        <div class="nav-name">影视</div>
    </a></li>
    <li data-menuanchor="page16"><a href="#page16">
        <div class="icon-wrap"><img src="../static/images/icons.png" class="icon16 picture"></div>
        <div class="nav-name">放映厅</div>
    </a></li>
</ul>

<div id="dowebok">
    <div class="section">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#            <!-- <img src="../images/top-banner.png" alt="首页" onclick='window.open("http://www.google.com")' > -->#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                <li>
                    <div class="tag-name"><span>港台</span></div>
                <li>
                    <div class="tag-name"><span>青春</span></div>
                <li>
                    <div class="tag-name"><span>热血</span></div>
                <li>
                    <div class="tag-name"><span>篮球</span></div>
                <li>
                    <div class="tag-name"><span>科幻</span></div>
                <li>
                    <div class="tag-name"><span>言情</span></div>
                <li>
                    <div class="tag-name"><span>历史</span></div>
                <li>
                    <div class="tag-name"><span>哲学</span></div>
                <li>
                    <div class="tag-name"><span>旅行</span></div>
                <li>
                    <div class="tag-name"><span>励志</span></div>
                <li>
                    <div class="tag-name"><span>教育</span></div>
                <li>
                    <div class="tag-name"><span>商业</span></div>
                <li>
                    <div class="tag-name"><span>美食</span></div>
                <li>
                    <div class="tag-name"><span>健康</span></div>
                <li>
                    <div class="tag-name"><span>算法</span></div>
                <li>
                    <div class="tag-name"><span>家庭</span></div>
            </ul>
        </div>

        <div class="content-body">
            <div class="container-lt">
                <div class="statpic" id="lt">
                </div>
            </div>

            <div class="container-ld">
                <div class="statpic" id="ld">
                </div>
            </div>

            <div class="container-m">
                <div class="statpic" id="m">
                    <!-- <img src="images/1.jpg" width="100%" height="100%"> -->
                </div>
            </div>

            <div class="container-rt">
                <div class="statpic" id="rt">
                </div>
            </div>

            <div class="container-rd">
                <div class="statpic" id="rd">
                    <div>推荐列表</div>
                    <ul class="recommend-list">
                        <li><i class="top-rank">1</i><a href="https://www.bilibili.com/video/av57539864">【明日方舟手书】阿消想要变得可爱
                            完整版</a></li>
                        <li><i class="top-rank">2</i><a href="https://www.bilibili.com/video/av57597164/">小小的垃圾分类竟道出国人心声！</a>
                        </li>
                        <li><i class="top-rank">3</i><a href="https://www.bilibili.com/video/av57765233">大老师终于向静可爱求婚了【春物硬改/误解向】</a>
                        </li>
                        <li><i>4</i><a href="https://www.bilibili.com/video/av57766393">Y|BLACKPINK−Kill This Love|dance
                            cover【全网最迟翻跳惹】</a></li>
                        <li><i>5</i><a href="https://www.bilibili.com/video/av57718289">【易烊千玺】>> 我可以躲进你的身体..</a></li>
                        <!-- <li><i>6</i>大梨子</li>   -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section section1">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                      <li><div class="tag-name"><span>漫画</span></div>
                    <li><div class="tag-name"><span>音乐</span></div>
                    <li><div class="tag-name"><span>热血</span></div>
                    <li><div class="tag-name"><span>篮球</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>家居</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>哲学</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>商业</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>算法</span></div>
                    <li><div class="tag-name"><span>建筑</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt1">
                <div class="statpic" id="lt1">
                </div>
            </div>

            <div class="container-ld1">
                <div class="statpic" id="ld1">
                </div>
            </div>

            <div class="container-mt1">
                <div class="statpic" id="mt1">
                </div>
            </div>

            <div class="container-md1">
                <div class="statpic" id="md1">
                </div>
            </div>

            <div class="container-rt1">
                <div class="statpic" id="rt1">
                </div>
            </div>

            <div class="container-rd1">
                <div class="statpic" id="rd1">
                </div>
            </div>
        </div>
    </div>

    <div class="section section2">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                     <li><div class="tag-name"><span>爱情</span></div>
                    <li><div class="tag-name"><span>高校</span></div>
                    <li><div class="tag-name"><span>热血</span></div>
                    <li><div class="tag-name"><span>古装</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>暴力</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>血腥</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>商业</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>美食</span></div>
                    <li><div class="tag-name"><span>职场</span></div>
            </ul>
        </div>

        <div class="content-body">
            <div class="container-lt2">
                <div class="statpic" id="lt2">
                </div>
            </div>

            <div class="container-ld2">
                <div class="statpic" id="ld2">
                </div>
            </div>

            <div class="container-m2">
                <div class="statpic" id="m2">
                    <!-- <img src="images/1.jpg" width="100%" height="100%"> -->
                </div>
            </div>

            <div class="container-rt2">
                <div class="statpic" id="rt2">
                </div>
            </div>

            <div class="container-rd2">
                <div class="statpic" id="rd2">
                </div>
            </div>
        </div>

    </div>

    <div class="section section3">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name tag1"><span>中国</span></div>
                    <li><div class="tag-name tag2"><span>青春</span></div>
                    <li><div class="tag-name tag3"><span>科普</span></div>
                    <li><div class="tag-name tag4"><span>台湾</span></div>
                    <li><div class="tag-name tag5"><span>传记</span></div>
                    <li><div class="tag-name tag6"><span>言情</span></div>
                    <li><div class="tag-name tag7"><span>历史</span></div>
                    <li><div class="tag-name tag8"><span>香港</span></div>
                    <li><div class="tag-name tag9"><span>设计</span></div>
                    <li><div class="tag-name tag10"><span>励志</span></div>
                    <li><div class="tag-name tag11"><span>教育</span></div>
                    <li><div class="tag-name tag12"><span>商业</span></div>
                    <li><div class="tag-name tag13"><span>美食</span></div>
                    <li><div class="tag-name tag14"><span>健康</span></div>
                    <li><div class="tag-name tag15"><span>回忆</span></div>
                    <li><div class="tag-name tag16"><span>金融</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt3">
                <div class="statpic" id="lt3">
                </div>
            </div>

            <div class="container-ld3">
                <div class="statpic" id="ld3">
                </div>
            </div>

            <div class="container-mt3">
                <div class="statpic" id="mt3">
                </div>
            </div>

            <div class="container-md3">
                <div class="statpic" id="md3">
                </div>
            </div>

            <div class="container-rt3">
                <div class="statpic" id="rt3">
                </div>
            </div>

            <div class="container-rd3">
                <div class="statpic" id="rd3">
                </div>
            </div>
        </div>
    </div>

    <div class="section section4">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>舒缓</span></div>
                    <li><div class="tag-name"><span>青春</span></div>
                    <li><div class="tag-name"><span>温柔</span></div>
                    <li><div class="tag-name"><span>北美</span></div>
                    <li><div class="tag-name"><span>金属</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>台湾</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>爱情</span></div>
                    <li><div class="tag-name"><span>治愈</span></div>
                    <li><div class="tag-name"><span>古典</span></div>
                    <li><div class="tag-name"><span>爵士</span></div>
                    <li><div class="tag-name"><span>摇滚</span></div>
                    <li><div class="tag-name"><span>流行</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt4">
                <div class="statpic" id="lt4">
                </div>
            </div>

            <div class="container-ld4">
                <div class="statpic" id="ld4">
                </div>
            </div>

            <div class="container-mt4">
                <div class="statpic" id="mt4">
                </div>
            </div>

            <div class="container-md4">
                <div class="statpic" id="md4">
                </div>
            </div>

            <div class="container-rt4">
                <div class="statpic" id="rt4">
                </div>
            </div>

            <div class="container-rd4">
                <div class="statpic" id="rd4">
                </div>
            </div>
        </div>
    </div>

    <div class="section section5">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>可爱</span></div>
                    <li><div class="tag-name"><span>芭蕾</span></div>
                    <li><div class="tag-name"><span>诱惑</span></div>
                    <li><div class="tag-name"><span>国际</span></div>
                    <li><div class="tag-name"><span>现代</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>肚皮</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>小鹿</span></div>
                    <li><div class="tag-name"><span>丝袜</span></div>
                    <li><div class="tag-name"><span>礼仪</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>古典</span></div>
                    <li><div class="tag-name"><span>古装</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt5">
                <div class="statpic" id="lt5">
                </div>
            </div>

            <div class="container-ld5">
                <div class="statpic" id="ld5">
                </div>
            </div>

            <div class="container-mt5">
                <div class="statpic" id="mt5">
                </div>
            </div>

            <div class="container-md5">
                <div class="statpic" id="md5">
                </div>
            </div>

            <div class="container-rt5">
                <div class="statpic" id="rt5">
                </div>
            </div>

            <div class="container-rd5">
                <div class="statpic" id="rd5">
                </div>
            </div>
        </div>
    </div>

    <div class="section section6">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>英雄</span></div>
                    <li><div class="tag-name"><span>冒险</span></div>
                    <li><div class="tag-name"><span>热血</span></div>
                    <li><div class="tag-name"><span>王者</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>角色</span></div>
                    <li><div class="tag-name"><span>动作</span></div>
                    <li><div class="tag-name"><span>欧美</span></div>
                    <li><div class="tag-name"><span>扮演</span></div>
                    <li><div class="tag-name"><span>三国</span></div>
                    <li><div class="tag-name"><span>养成</span></div>
                    <li><div class="tag-name"><span>古代</span></div>
                    <li><div class="tag-name"><span>模拟</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>世界</span></div>
                    <li><div class="tag-name"><span>无敌</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt6">
                <div class="statpic" id="lt6">
                </div>
            </div>

            <div class="container-ld6">
                <div class="statpic" id="ld6">
                </div>
            </div>

            <div class="container-mt6">
                <div class="statpic" id="mt6">
                </div>
            </div>

            <div class="container-md6">
                <div class="statpic" id="md6">
                </div>
            </div>

            <div class="container-rt6">
                <div class="statpic" id="rt6">
                </div>
            </div>

            <div class="container-rd6">
                <div class="statpic" id="rd6">
                </div>
            </div>
        </div>
    </div>

    <div class="section section7">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>炫酷</span></div>
                    <li><div class="tag-name"><span>青春</span></div>
                    <li><div class="tag-name"><span>爱国</span></div>
                    <li><div class="tag-name"><span>5G</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>中国</span></div>
                    <li><div class="tag-name"><span>哲学</span></div>
                    <li><div class="tag-name"><span>数学</span></div>
                    <li><div class="tag-name"><span>美国</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>科学</span></div>
                    <li><div class="tag-name"><span>技术</span></div>
                    <li><div class="tag-name"><span>航天</span></div>
                    <li><div class="tag-name"><span>自然</span></div>
                    <li><div class="tag-name"><span>物理</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt7">
                <div class="statpic" id="lt7">
                </div>
            </div>

            <div class="container-ld7">
                <div class="statpic" id="ld7">
                </div>
            </div>

            <div class="container-mt7">
                <div class="statpic" id="mt7">
                </div>
            </div>

            <div class="container-md7">
                <div class="statpic" id="md7">
                </div>
            </div>

            <div class="container-rt7">
                <div class="statpic" id="rt7">
                </div>
            </div>

            <div class="container-rd7">
                <div class="statpic" id="rd7">
                </div>
            </div>
        </div>
    </div>

    <div class="section section8">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>数字</span></div>
                    <li><div class="tag-name"><span>摄影</span></div>
                    <li><div class="tag-name"><span>相机</span></div>
                    <li><div class="tag-name"><span>电脑</span></div>
                    <li><div class="tag-name"><span>逼格</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>存储</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>有矿</span></div>
                    <li><div class="tag-name"><span>手机</span></div>
                    <li><div class="tag-name"><span>组装</span></div>
                    <li><div class="tag-name"><span>平板</span></div>
                    <li><div class="tag-name"><span>系统</span></div>
                    <li><div class="tag-name"><span>财富</span></div>
                    <li><div class="tag-name"><span>家庭</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt8">
                <div class="statpic" id="lt8">
                </div>
            </div>

            <div class="container-ld8">
                <div class="statpic" id="ld8">
                </div>
            </div>

            <div class="container-mt8">
                <div class="statpic" id="mt8">
                </div>
            </div>

            <div class="container-md8">
                <div class="statpic" id="md8">
                </div>
            </div>

            <div class="container-rt8">
                <div class="statpic" id="rt8">
                </div>
            </div>

            <div class="container-rd8">
                <div class="statpic" id="rd8">
                </div>
            </div>
        </div>
    </div>

    <div class="section section9">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>朋友</span></div>
                    <li><div class="tag-name"><span>青春</span></div>
                    <li><div class="tag-name"><span>爱情</span></div>
                    <li><div class="tag-name"><span>篮球</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>友情</span></div>
                    <li><div class="tag-name"><span>商业</span></div>
                    <li><div class="tag-name"><span>哲学</span></div>
                    <li><div class="tag-name"><span>旅行</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>职场</span></div>
                    <li><div class="tag-name"><span>美食</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>诗歌</span></div>
                    <li><div class="tag-name"><span>家庭</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt9">
                <div class="statpic" id="lt9">
                </div>
            </div>

            <div class="container-ld9">
                <div class="statpic" id="ld9">
                </div>
            </div>

            <div class="container-mt9">
                <div class="statpic" id="mt9">
                </div>
            </div>

            <div class="container-md9">
                <div class="statpic" id="md9">
                </div>
            </div>

            <div class="container-rt9">
                <div class="statpic" id="rt9">
                </div>
            </div>

            <div class="container-rd9">
                <div class="statpic" id="rd9">
                </div>
            </div>
        </div>
    </div>

    <div class="section section10">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>蔡徐坤</span></div>
                    <li><div class="tag-name"><span>篮球</span></div>
                    <li><div class="tag-name"><span>游乐</span></div>
                    <li><div class="tag-name"><span>吴亦凡</span></div>
                    <li><div class="tag-name"><span>局座</span></div>
                    <li><div class="tag-name"><span>调教</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>哲学</span></div>
                    <li><div class="tag-name"><span>名场面</span></div>
                    <li><div class="tag-name"><span>张召忠</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>宽面</span></div>
                    <li><div class="tag-name"><span>丞相</span></div>
                    <li><div class="tag-name"><span>采访</span></div>
                    <li><div class="tag-name"><span>护眼</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt10">
                <div class="statpic" id="lt10">
                </div>
            </div>

            <div class="container-ld10">
                <div class="statpic" id="ld10">
                </div>
            </div>

            <div class="container-mt10">
                <div class="statpic" id="mt10">
                </div>
            </div>

            <div class="container-md10">
                <div class="statpic" id="md10">
                </div>
            </div>

            <div class="container-rt10">
                <div class="statpic" id="rt10">
                </div>
            </div>

            <div class="container-rd10">
                <div class="statpic" id="rd10">
                </div>
            </div>
        </div>
    </div>

    <div class="section section11">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li class="tag-title"><div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>美妆</span></div>
                    <li><div class="tag-name"><span>服饰</span></div>
                    <li><div class="tag-name"><span>职场</span></div>
                    <li><div class="tag-name"><span>健身</span></div>
                    <li><div class="tag-name"><span>皮肤</span></div>
                    <li><div class="tag-name"><span>身材</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>哲学</span></div>
                    <li><div class="tag-name"><span>粉刺</span></div>
                    <li><div class="tag-name"><span>赘肉</span></div>
                    <li><div class="tag-name"><span>日本</span></div>
                    <li><div class="tag-name"><span>学生</span></div>
                    <li><div class="tag-name"><span>美食</span></div>
                    <li><div class="tag-name"><span>健康</span></div>
                    <li><div class="tag-name"><span>博主</span></div>
                    <li><div class="tag-name"><span>日常</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt11">
                <div class="statpic" id="lt11">
                </div>
            </div>

            <div class="container-ld11">
                <div class="statpic" id="ld11">
                </div>
            </div>

            <div class="container-mt11">
                <div class="statpic" id="mt11">
                </div>
            </div>

            <div class="container-md11">
                <div class="statpic" id="md11">
                </div>
            </div>

            <div class="container-rt11">
                <div class="statpic" id="rt11">
                </div>
            </div>

            <div class="container-rd11">
                <div class="statpic" id="rd11">
                </div>
            </div>
        </div>
    </div>

    <div class="section section12">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>促销</span></div>
                    <li><div class="tag-name"><span>泰国</span></div>
                    <li><div class="tag-name"><span>小说</span></div>
                    <li><div class="tag-name"><span>日本</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>抖音</span></div>
                    <li><div class="tag-name"><span>手机</span></div>
                    <li><div class="tag-name"><span>牙膏</span></div>
                    <li><div class="tag-name"><span>品牌</span></div>
                    <li><div class="tag-name"><span>传说</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>商业</span></div>
                    <li><div class="tag-name"><span>华为</span></div>
                    <li><div class="tag-name"><span>片段</span></div>
                    <li><div class="tag-name"><span>片段</span></div>
                    <li><div class="tag-name"><span>中场</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt12">
                <div class="statpic" id="lt12">
                </div>
            </div>

            <div class="container-ld12">
                <div class="statpic" id="ld12">
                </div>
            </div>

            <div class="container-mt12">
                <div class="statpic" id="mt12">
                </div>
            </div>

            <div class="container-md12">
                <div class="statpic" id="md12">
                </div>
            </div>

            <div class="container-rt12">
                <div class="statpic" id="rt12">
                </div>
            </div>

            <div class="container-rd12">
                <div class="statpic" id="rd12">
                </div>
            </div>
        </div>
    </div>

    <div class="section section13">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>暴走</span></div>
                    <li><div class="tag-name"><span>金曲</span></div>
                    <li><div class="tag-name"><span>表演</span></div>
                    <li><div class="tag-name"><span>说唱</span></div>
                    <li><div class="tag-name"><span>泪奔</span></div>
                    <li><div class="tag-name"><span>桥本</span></div>
                    <li><div class="tag-name"><span>白客</span></div>
                    <li><div class="tag-name"><span>应援</span></div>
                    <li><div class="tag-name"><span>浪漫</span></div>
                    <li><div class="tag-name"><span>异国</span></div>
                    <li><div class="tag-name"><span>香港</span></div>
                    <li><div class="tag-name"><span>舞伴</span></div>
                    <li><div class="tag-name"><span>团队</span></div>
                    <li><div class="tag-name"><span>挑战</span></div>
                    <li><div class="tag-name"><span>歌曲</span></div>
                    <li><div class="tag-name"><span>炸裂</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt13">
                <div class="statpic" id="lt13">
                </div>
            </div>

            <div class="container-ld13">
                <div class="statpic" id="ld13">
                </div>
            </div>

            <div class="container-mt13">
                <div class="statpic" id="mt13">
                </div>
            </div>

            <div class="container-md13">
                <div class="statpic" id="md13">
                </div>
            </div>

            <div class="container-rt13">
                <div class="statpic" id="rt13">
                </div>
            </div>

            <div class="container-rd13">
                <div class="statpic" id="rd13">
                </div>
            </div>
        </div>
    </div>

    <div class="section section14">
{#        <div class="recommend-button">#}
{#            <button type="button" class="btn btn-outline-success btn_submit">个性推荐</button>#}
{#        </div>#}

        <div class="top-tag">
            <ul class="tag-menu">
                <li class="tag-title">
                    <div class="tag-name"><span>热门标签:</span></div>
                    <li><div class="tag-name"><span>明显</span></div>
                    <li><div class="tag-name"><span>青春</span></div>
                    <li><div class="tag-name"><span>热血</span></div>
                    <li><div class="tag-name"><span>流量</span></div>
                    <li><div class="tag-name"><span>科幻</span></div>
                    <li><div class="tag-name"><span>言情</span></div>
                    <li><div class="tag-name"><span>历史</span></div>
                    <li><div class="tag-name"><span>年轻</span></div>
                    <li><div class="tag-name"><span>限制</span></div>
                    <li><div class="tag-name"><span>励志</span></div>
                    <li><div class="tag-name"><span>演艺</span></div>
                    <li><div class="tag-name"><span>商业</span></div>
                    <li><div class="tag-name"><span>家庭</span></div>
                    <li><div class="tag-name"><span>沙雕</span></div>
                    <li><div class="tag-name"><span>教育</span></div>
                    <li><div class="tag-name"><span>爆笑</span></div>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-lt14">
                <div class="statpic" id="lt14">
                </div>
            </div>

            <div class="container-ld14">
                <div class="statpic" id="ld14">
                </div>
            </div>

            <div class="container-mt14">
                <div class="statpic" id="mt14">
                </div>
            </div>

            <div class="container-md14">
                <div class="statpic" id="md14">
                </div>
            </div>

            <div class="container-rt14">
                <div class="statpic" id="rt14">
                </div>
            </div>

            <div class="container-rd12">
                <div class="statpic" id="rd12">
                </div>
            </div>
        </div>
    </div>

    <div class="section section15">
        <div class="slide slide1">
            <div class="top-tag">
                <ul class="tag-menu">
                    <li class="tag-title">
                        <div class="tag-name"><span>热门标签:</span></div>
	                    <li><div class="tag-name"><span>人文</span></div>
	                    <li><div class="tag-name"><span>社会</span></div>
	                    <li><div class="tag-name"><span>自然</span></div>
	                    <li><div class="tag-name"><span>哲学</span></div>
	                    <li><div class="tag-name"><span>科幻</span></div>
	                    <li><div class="tag-name"><span>求生</span></div>
	                    <li><div class="tag-name"><span>历史</span></div>
	                    <li><div class="tag-name"><span>美食</span></div>
	                    <li><div class="tag-name"><span>旅行</span></div>
	                    <li><div class="tag-name"><span>励志</span></div>
	                    <li><div class="tag-name"><span>暴力</span></div>
	                    <li><div class="tag-name"><span>军事</span></div>
	                    <li><div class="tag-name"><span>美食</span></div>
	                    <li><div class="tag-name"><span>探索</span></div>
	                    <li><div class="tag-name"><span>生活</span></div>
	                    <li><div class="tag-name"><span>救援</span></div>
                </ul>
            </div>

            <div class="content-body">
                <div class="container-lt15-s1">
                    <div class="statpic" id="lt15-s1">
                    </div>
                </div>

                <div class="container-ld15-s1">
                    <div class="statpic" id="ld15-s1">
                    </div>
                </div>

                <div class="container-m15-s1">
                    <div class="statpic" id="m15-s1">
                        <!-- <img src="images/1.jpg" width="100%" height="100%"> -->
                    </div>
                </div>

                <div class="container-rt15-s1">
                    <div class="statpic" id="rt15-s1">
                    </div>
                </div>

                <div class="container-rd15-s1">
                    <div class="statpic" id="rd15-s1">
                    </div>
                </div>
            </div>
        </div>

        <div class="slide slide2">
            <div class="top-tag">
                <ul class="tag-menu">
                    <li class="tag-title">
                        <div class="tag-name"><span>热门标签:</span></div>
	                    <li><div class="tag-name"><span>华语</span></div>
	                    <li><div class="tag-name"><span>欧美</span></div>
	                    <li><div class="tag-name"><span>日本</span></div>
	                    <li><div class="tag-name"><span>命运</span></div>
	                    <li><div class="tag-name"><span>国家</span></div>
	                    <li><div class="tag-name"><span>其他</span></div>
	                    <li><div class="tag-name"><span>历史</span></div>
	                    <li><div class="tag-name"><span>岛屿</span></div>
	                    <li><div class="tag-name"><span>古代</span></div>
	                    <li><div class="tag-name"><span>励志</span></div>
	                    <li><div class="tag-name"><span>教育</span></div>
	                    <li><div class="tag-name"><span>刺激</span></div>
	                    <li><div class="tag-name"><span>海洋</span></div>
	                    <li><div class="tag-name"><span>路途</span></div>
	                    <li><div class="tag-name"><span>奇缘</span></div>
	                    <li><div class="tag-name"><span>悬疑</span></div>
                </ul>
            </div>

            <div class="content-body">
                <div class="container-lt15-s2">
                    <div class="statpic" id="lt15-s2">
                    </div>
                </div>

                <div class="container-ld15-s2">
                    <div class="statpic" id="ld15-s2">
                    </div>
                </div>

                <div class="container-m15-s2">
                    <div class="statpic" id="m15-s2">
                        <!-- <img src="images/1.jpg" width="100%" height="100%"> -->
                    </div>
                </div>

                <div class="container-rt15-s2">
                    <div class="statpic" id="rt15-s2">
                    </div>
                </div>

                <div class="container-rd15-s2">
                    <div class="statpic" id="rd15-s2">
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide3">
            <div class="top-tag">
                <ul class="tag-menu">
                    <li class="tag-title">
                        <div class="tag-name"><span>热门标签:</span></div>
	                    <li><div class="tag-name"><span>国产</span></div>
	                    <li><div class="tag-name"><span>海外</span></div>
	                    <li><div class="tag-name"><span>剧情</span></div>
	                    <li><div class="tag-name"><span>先生</span></div>
	                    <li><div class="tag-name"><span>喜剧</span></div>
	                    <li><div class="tag-name"><span>情景</span></div>
	                    <li><div class="tag-name"><span>爱情</span></div>
	                    <li><div class="tag-name"><span>都市</span></div>
	                    <li><div class="tag-name"><span>家庭</span></div>
	                    <li><div class="tag-name"><span>古装</span></div>
	                    <li><div class="tag-name"><span>情感</span></div>
	                    <li><div class="tag-name"><span>美丽</span></div>
	                    <li><div class="tag-name"><span>美食</span></div>
	                    <li><div class="tag-name"><span>日本</span></div>
	                    <li><div class="tag-name"><span>朋友</span></div>
	                    <li><div class="tag-name"><span>聪明</span></div>
                </ul>
            </div>

            <div class="content-body">
                <div class="container-lt15-s3">
                    <div class="statpic" id="lt15-s3">
                    </div>
                </div>

                <div class="container-ld15-s3">
                    <div class="statpic" id="ld15-s3">
                    </div>
                </div>

                <div class="container-m15-s3">
                    <div class="statpic" id="m15-s3">
                        <!-- <img src="images/1.jpg" width="100%" height="100%"> -->
                    </div>
                </div>

                <div class="container-rt15-s3">
                    <div class="statpic" id="rt15-s3">
                    </div>
                </div>

                <div class="container-rd15-s3">
                    <div class="statpic" id="rd15-s3">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>


<!--                     <div class="rank hover" list="rank-list">UP主排行</div>
                    <div class="recommend hover" list="recommend-list">UP主推荐</div>
                    <ul class="rank-list" >
                        <li><i class="top-rank">1</i>大番茄</li>  
                        <li><i class="top-rank">2</i>大土豆</li>  
                        <li><i class="top-rank">3</i>大西瓜</li>  
                        <li><i>4</i>大菠萝</li>  
                        <li><i>5</i>大苹果</li>  
                        <li><i>6</i>大梨子</li>  
                        <li><i>7</i>大茄子</li>  
                        <li><i>8</i>大橘子</li>  
                        <li><i>9</i>大枇杷</li>  
                        <li><i>10</i>大橘子</li>  
                        <li><i>11</i>大枇杷</li>
                        <li><i>12</i>大橘子</li>  
                        <li><i>13</i>大枇杷</li>
                        <li><i>14</i>大橘子</li>  
                        <li><i>15</i>大枇杷</li>
                        <li><i>16</i>老师好</li>
                    </ul>
                    <ul class="recommend-list">
                        <li><i class="top-rank">1</i>大番茄7</li>  
                        <li><i class="top-rank">2</i>大土豆</li>  
                        <li><i class="top-rank">3</i>大西瓜</li>  
                        <li><i>4</i>大菠萝7</li>  
                        <li><i>5</i>大苹果77</li>  
                        <li><i>6</i>大梨子</li>  
                        <li><i>7</i>大茄子</li>  
                        <li><i>8</i>大橘子</li>  
                        <li><i>9</i>大枇杷</li>  
                        <li><i>10</i>大橘子</li>  
                        <li><i>11</i>大枇杷</li>
                        <li><i>12</i>大橘子</li>  
                        <li><i>13</i>大枇杷</li>
                        <li><i>14</i>大橘子</li>  
                        <li><i>15</i>大枇杷</li>
                        <li><i>16</i>老师好</li>
                    </ul> -->